@inject IViewLocalizer Localizer

<div class="text-center">
    <h1>@Localizer["TXT_Title"]</h1>
    <h3 class="text-danger">@Localizer["TXT_NoPermission"]</h3>
    <img src="~/Images/noaccess.png" alt="No access image" style="height:300px;width:300px"/>
</div>
